// Tablet stylings

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
    
}

img {
    width: 100%;
}

.topbar {
    padding: 5px 75px;
}

.header-image {
    width: 20%;

    img {
        width: 100%;
    }
}

.nav {
    @include fontStyle(15, $montserrat);
}

.language-nav {
    @include fontStyle(10, $roboto);
}

.nav {
    &__list {
        &__item {
            padding-right: 30px;
        }
    }
}

.language-nav__list {
    &__item {
        span {
            padding-left: 5px;
        }
    }
}

.main-header {
    &__slider {
        display: none;
        width: 0;
    }

    &__heading {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('../../images/main-image-1.png');

        &__gallery-pan {
            bottom: 45px;
        }
    }
}

.paragraph {
    &--largest {
        color: $black;
    }
}

.first-gallery {
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;

    &__item {
        margin: 0;

        &__rotated-text {
            display: none;
        }

        &__headings {
            left: 45px;
            span {
                @include fontStyle(15, $montserrat);
            }
        }

        &2 img {
            outline-offset: -10%;
        }
    }
}

.top-products {
    margin-top: 50px;

    &__top-container {
        justify-content: space-between;
    }

    &__container {
        width: 100%;

        &::after {
            display: none;
        }

        &__gallery {
            margin-top: 20px;

            &__item {
                justify-content: space-between;
                width: 20%;

                &1 {
                    margin: 0;
                }
            }
        }
    }
}

.onsale-products {
    margin-top: 50px;

    &__top-container {
        justify-content: space-between;
    }

    &__container {
        width: 100%;

        &::after {
            display: none;
        }

        &__gallery {
            margin-top: 20px;

            &__item {
                justify-content: space-between;
                width: 20%;

                &1 {
                    margin: 0;
                }
            }
        }
    }
}