.nav {
    @include fontStyle(22, $montserrat);
}

.language-nav {
    @include fontStyle(12, $roboto);
}

.header2 {
    @include fontStyle(30, $montserrat);
    color: $black;
}

.header1 {
    @include fontStyle(80, $montserrat);
    color: $black;
    font-weight: 700;
    width: 680px;
}

.paragraph {
    @include fontStyle(18, $roboto);

    &--header {
        @include fontStyle(28, $roboto);
        color: $lightgrey;
    }

    &--largest {
        color: lighten($lightgrey, 22);
        @include fontStyle(450, $montserrat);
    }

    &--grey {
        color: $darkgrey;
    }

    &--dark-grey {
        color: darken($darkgrey, 10);
        @include fontStyle(15.4, $roboto);
    }

    &--item-name {
        color: $black;
        @include fontStyle(16, $roboto);
        margin: 10px 0;
    }

    &--item-description {
        color: lighten($darkgrey, 10);
        @include fontStyle(16, $roboto);
        margin: 0;
    }

    &--item-price {
        color: $black;
        @include fontStyle(18, $montserrat);
        
        &::before {
            content: '$';
            margin-right: 5px;
        }

        &-original {
            color: $lightgrey;
            @include fontStyle(15, $montserrat);
            text-decoration: line-through;
        }
    }

    &--white {
        color: $white;
    }
}

.button {
    @include fontStyle(18, $montserrat);
}

.main-header__heading__gallery-pan {
    font-size: 20px;

    &--left {
        color: $darkgrey;
    }

    &--right {
        color: $mustard;
    }
}

.first-gallery__item__headings span {
    @include fontStyle(28, $montserrat);
    color: $black;
    font-weight: bold;
}

.top-products__container::after, .onsale-products__container::after {
    @include fontStyle(86, $montserrat);
    color: lighten($lightgrey, 22);
}

.first-gallery__item__rotated-text {
    @include fontStyle(16, $roboto);
    color: $black;
}

.sub-heading__rotated {
    @include fontStyle(15, $roboto);
    text-transform: uppercase;
}

h4 {
    @include fontStyle(12, $montserrat);
    color: $lightgrey;
    text-transform: uppercase;
}

.our-blog h3 {
    @include fontStyle(20, $montserrat);
    color: $black;
}

.footer-buttons__side {
    h2 {
        @include fontStyle(30, $montserrat);
    }

    p {
        @include fontStyle(18, $montserrat);
    }

    a {
        @include fontStyle(16, $montserrat);
        font-weight: bold;
    }
}