@import 'setup';

html {
    font-size: 62.5%;
}

@import 'utils';

@import 'typography';

body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

#toggle {
    display: none;
}

.topbar {
    padding: 40px 15%;
    display: flex;
    flex-flow: row space-around;
    align-items: center;
    width: 100%;
}

.header-image {
    width: 25%;
}

label {
    display: none;
}

.nav {

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;

        &__item {
            padding-right: 60px;

            &:last-child {
                padding-right: 0;
            }

            &__nested {
                list-style: none;
                padding: 0;
                display: none;
                
                &__item {
                    padding-top: 10px;
                }
            }

            &:hover &__nested {
                display: block;
                position: absolute;
            }
        }

        &__item a, &__item__nested__item a{
            text-decoration: none;
            color: $darkgrey;

            &:hover{
                border-bottom: 3px solid $mustard;
            }
        }

        &__item--active a {
            color: $black;
            border-bottom: 3px solid $mustard;
        }
    }
}

.language-nav__list {
    list-style: none;

    &__item {
        
        &__nested {
            list-style: none;
            padding: 0;
            display: none;
            width: 100%;

            &__item {
                padding-top: 5px;
            }
        }

        img {
            width: 24px;
            margin-right: 10px;
        }

        &:hover &__nested {
            display: block;
            position: absolute;
        }

        span {
            display: inline-block;
            padding-left: 15px;
        }
    }

    &__item a, &__item__nested__item a {
        color: $darkgrey;
        text-decoration: none;
    }
}

.menu-items__container {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__item {
        padding-right: 15px;

        &--numeric {
            position: relative;
            
            span {
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                background: $mustard;
                text-align: center;
                padding-top: 4px;
                border-radius: 50%;
                color: $white;
                top: -5px;
                right: 3px;
            }
        }
    }
}

@import 'components/header';

.first-gallery {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

    &__item {
        width: 33.3%;
        position: relative;
        margin-right: 10%;

        &3 {
            margin-right: 0;
        }

        &2 img {
            outline: 5px solid white;
            outline-offset: -35px;
        }

        &__rotated-text {
            transform: rotate(-90deg);
            position: absolute;
            top: 30%;
            left: -5%;
        }

        &__headings {
            position: absolute;
            left: -2%;
            top: 65%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__headings span {
            display: inline-block;
            margin: 0;
            padding: 10px 15px;
            margin-bottom: 3px;
            background: $white;
        }

        &__image {
            margin-left: 15%;
        }
    }
}

.top-products {
    margin-top: 160px;
    position: relative;

    &__top-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 4%;
    }

    &__container {
        margin: 0 auto;
        width: 70%;
        position: relative; 
    
        &::after {
            position: absolute;
            top: 150px;
            right: -450px;
            content: 'Spring/Summer';
            display: inline-block;
            transform: rotate(90deg);
            font-weight: bold;
        }
        

        &__gallery {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 75px;

            &__item {
                // margin: 0 25px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;

                &1 {
                    margin-left: 50px;
                }

                &__image__cart {
                    position: absolute;
                    right: 0;
                    bottom: 110px;

                    a {
                        display: inline-block;
                        background: $black;
                        padding: 10px;
                        transition: all 0.5s ease;

                        &:hover {
                            background: $mustard;
                        }
                    }
                }
            }
        }
    }
}

.sub-heading {
    width: 62.5%;
    margin: 0 auto;
    margin-top: 160px;
    text-align: right;
    background: url('../../images/main-image-2.png');
    background-size: 67.5% auto;
    background-position: left;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 130px;

    &__button {
        @include buttonRounded($black, $white, $mustard);
        @include fontStyle(16, $montserrat);
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    &__rotated {
        display: inline-block;
        transform: rotate(-90deg);
        position: absolute;
        left: 63.5%;
        bottom: 11%;
    }

    &__slider {
        display:flex;
        justify-content: center;
        background: $black;
        width: 150px;
        position: absolute;
        top: 50%;
        left: 5%;

        &__arrow {
            width: 50%;
            height: 60px;
            font-size: 30px;
            padding: 15px;

            &--left {
                color: $mustard;
            }
            
            &--right {
                text-align: left;
                color: #f5f5f5;
            }
        }
    }
}

.onsale-products {
    margin-top: 160px;
    position: relative;

    &__top-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 4%;
    }

    &__container {
        margin: 0 auto;
        width: 70%;
        position: relative; 
    
        &::after {
            position: absolute;
            top: 80px;
            left: -450px;
            content: 'Summer Sale';
            display: inline-block;
            transform: rotate(90deg);
            font-weight: bold;
        }
        

        &__gallery {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 75px;

            &__item {
                // margin: 0 25px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;

                &1 {
                    margin-left: 50px;
                }

                &__image__cart {
                    position: absolute;
                    right: 0;
                    bottom: 110px;

                    a {
                        display: inline-block;
                        background: $black;
                        padding: 10px;
                        transition: all 0.5s ease;

                        &:hover {
                            background: $mustard;
                        }
                    }
                }
            }
        }
    }
}

.our-blog {
    width: 60%;
    margin: 0 auto;
    margin-top: 160px;

    &__container {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 3fr 1fr 3fr;

        &__item1 {
            grid-column-start: 1;
            grid-column-end: span 2;
            z-index: 10;
            grid-row-start: 1;
            grid-row-end: span 2;
            padding-left: 65px;
            padding-top: 65px;
        }

        &__item2 {
            grid-column-start: 2;
            grid-column-end: span 2;
            grid-row-start: 1;
            grid-row-end: span 2;
            z-index: 5;
        }

        &__item3 {
            grid-column-start: 2;
            grid-column-end: span 2;
            z-index: 3;
            grid-row-start: 2;
            grid-row-end: span 2;
            text-align: right;
            padding-top: 100px;
            padding-left: 120px;
        }

        &__item4 {
            grid-column-start: 1;
            grid-column-end: span 2;
            z-index: 1;
            grid-row-start: 2;
            grid-row-end: span 2;
        }
    }
}

@import 'components/footer';

@import 'media';