@import 'setup';

html {
    font-size: 62.5%;
}

@import 'utils';

@import 'typography';

body {
    max-width: 1920px;
    width: 100%;
}

.topbar {
    padding: 40px 15%;
    display: flex;
    flex-flow: row space-around;
    align-items: center;
    width: 100%;
}

.header-image {
    width: 25%;
}

.nav {

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;

        &__item {
            padding-right: 60px;

            &:last-child {
                padding-right: 0;
            }

            &__nested {
                list-style: none;
                padding: 0;
                display: none;
                
                &__item {
                    padding-top: 10px;
                }
            }

            &:hover &__nested {
                display: block;
                position: absolute;
            }
        }

        &__item a, &__item__nested__item a{
            text-decoration: none;
            color: $darkgrey;

            &:hover{
                border-bottom: 3px solid $mustard;
            }
        }

        &__item--active a {
            color: $black;
            border-bottom: 3px solid $mustard;
        }
    }
}

.language-nav__list {
    list-style: none;

    &__item {
        
        &__nested {
            list-style: none;
            padding: 0;
            display: none;
            width: 100%;

            &__item {
                padding-top: 5px;
            }
        }

        img {
            width: 24px;
            margin-right: 10px;
        }

        &:hover &__nested {
            display: block;
            position: absolute;
        }

        span {
            display: inline-block;
            padding-left: 15px;
        }
    }

    &__item a, &__item__nested__item a {
        color: $darkgrey;
        text-decoration: none;
    }
}

.menu-items__container {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__item {
        padding-right: 15px;

        &--numeric {
            position: relative;
            
            span {
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                background: $mustard;
                text-align: center;
                padding-top: 4px;
                border-radius: 50%;
                color: $white;
                top: -5px;
                right: 3px;
            }
        }
    }
}

@import 'components/header';

.first-gallery {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

    &__item {
        width: 33.3%;
        position: relative;
        margin-right: 10%;

        &3 {
            margin-right: 0;
        }

        &2 img {
            outline: 5px solid white;
            outline-offset: -35px;
        }

        &__rotated-text {
            transform: rotate(-90deg);
            position: absolute;
            top: 30%;
            left: -5%;
        }

        &__headings {
            position: absolute;
            left: -2%;
            top: 65%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__headings span {
            display: inline-block;
            margin: 0;
            padding: 10px 15px;
            margin-bottom: 3px;
            background: $white;
        }

        &__image {
            margin-left: 15%;
        }
    }
}

.top-products {
    margin-top: 160px;
    position: relative;

    &__top-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 4%;
    }

    &__container {
        display: grid;
        grid-template-columns: 80% 20%;
        width: 80%;
        position: absolute;
        left: 20%;    
    
        &__aside {
            position: relative;

            &--large::after {
                position: absolute;
                top: 150px;
                right: -70%;
                content: 'Spring/Summer';
                display: inline-block;
                transform: rotate(90deg);
                font-weight: bold;
            }
        }
        

        &__gallery {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 75px;

            &__item {
                margin: 0 25px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;

                &1 {
                    margin-left: 50px;
                }

                &__image__cart {
                    position: absolute;
                    right: 0;
                    bottom: 110px;

                    a {
                        display: inline-block;
                        background: $black;
                        padding: 10px;
                        transition: all 0.5s ease;

                        &:hover {
                            background: $mustard;
                        }
                    }
                }
            }
        }
    }
}

@import 'components/footer';

@import 'media';